@model MemberResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<form asp-action="forgot" method="post">
    <div class="login-form">
        <h4 class="login-title">Forgot Password </h4>
        <p><span class="font-weight-bold">I am a returning customer</span></p>
        <div class="row">
            <div class="col-md-12 col-12 mb--15">
                <label asp-for="Password">Enter your email address here...</label>
                <input asp-for="Password" class="mb-0 form-control" type="email" id="email1"
                       placeholder="Enter you UserName here...">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="col-md-12 col-12 mb--15">
                <label asp-for="ConfirmPassword">Enter your email address here...</label>
                <input asp-for="ConfirmPassword" class="mb-0 form-control" type="email" id="email1"
                       placeholder="Enter you UserName here...">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-md-12">
                <a href="#" class="btn btn-outlined">Login</a>
            </div>
        </div>
    </div>
    <input type="hidden" name="Email" value="@Model.Email">
    <input type="hidden" name="Token" value="@Model.Token">
</form>

